.intro{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.intro-hi{
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
}

.intro-name{
    margin-bottom: 1rem;
    font-size: 75px;
    background: -webkit-linear-gradient(180deg, var(--color-primary), var(--color-white), var(--color-white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-desc{
    color: var(--color-light);
    font-style: italic;
}

.intro-title{
    height: 50px;
    margin-bottom: 1rem;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}